.form_authorization {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 770px;
    margin: 0 auto;
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 96px rgba(10, 9, 75, 0.21);
    border-radius: 15px;
    overflow: hidden;
}

.titel_wrapper {
    padding: 50px 0;
    width: 770px;
    background: linear-gradient(90.01deg, #2A8BF2 0.01%, #0A6CD6 99.99%);
}


.avatar_wrapper {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: #5FA4ED;
    border-radius: 50%;
    overflow: hidden;
}

.avatar_image {
    width: 200px;
    height: 200px;
    margin-top: 21px;
    object-fit: contain;
}

.inpute_wrapper {
    position: relative;
    display: flex;
    width: 670px;
    height: 85px;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.wrapper_icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9CBCDE;
    width: 85px;
    height: 85px;
}

.input_icon__glas {
    position: absolute;
    width: 28px;
    height: 19px;
    top: 33px;
    right: 33px;
}

.form_authorization>div>input {
    width: 100%;
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding-left: 15px;
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    position: relative;
}


.form_authorization>button {
    margin-top: 40px;
    width: 670px;
    height: 85px;
    font-family: Montserrat;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    background: #0B6DD7;
    border: 2px solid #0B6DD7;
    box-sizing: border-box;
    border-radius: 10px;
}

.link_in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 50px;
}

.re_pass {
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}

.registration{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
text-decoration-line: underline;
}